example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

 .margin-top{
    margin-top:10px;
    
   
  }
  .margin-top-maxwidth{
    margin-top:10px;
  max-width:18rem
    
   
  }

  
  
  
  
  
  example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  example button:hover {
    background: #0b7dda;
  }
  
  example::after {
    content: "";
    clear: both;
    display: table;
  }

  .background{

    background-color:green
  }

  .background1{

    background-color:red
  }