<div class="margin-top">
  <h2>Search Article</h2>
  <input type="text"  #keyword placeholder="Search.." >
  <button type="submit" (click)="getNewsByKeyword(keyword.value)">
    <i class="fa fa-search"></i>
  </button>
</div>
<div class="container">
  <div class="row  pd">
    <div class="col-lg-1 "></div>
    <div class="col-lg-12 col-sm-12">
      <div class="card text-center" *ngFor="let article of articleList">
        <div class="card-header">
          {{article.title}}
          <button type="button" class="btn btn-secondary" (click)="saveArticle(article.title)">Add Article</button>
          <!-- <span class="icon">
            <i class="fas fa-star" (click)="saveArticle(article.title)"></i>
            <span style="color:black">Add Article</span>
          </span> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 sm-12">
              <img src="{{article.urlToImage}}" style="width:75%;height:100%">
            </div>
            <div class="col-lg-8 sm-12">

              <h6 class="card-text">{{article.description}}</h6>
              <p class="card-text">{{article.content}}</p>
            </div>


          </div>
          <!-- <a href= "http://www.sys-con.com/node/4371031" class="btn btn-primary">Go somewhere</a>-->
        </div>
        <div class="card-footer text-muted">
          <p class="card-title">{{article.author}} </p>, {{article.publishedAt}}
        </div>
      </div>

    </div>
  </div>
</div>